In [13]:
# Import libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib

le = preprocessing.LabelEncoder()

# Import data and preprocess
school_data = pd.read_csv('school profiles.csv')
for column_name in school_data.columns:
        if school_data[column_name].dtype == object:
            school_data[column_name] = le.fit_transform(school_data[column_name])
        else:
            pass
X = school_data.drop(columns=['School'])
y = school_data['School']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
# predictions
score = accuracy_score(y_test, predictions)
score

0.9

    Course  Tuition fee  location  School
0        0            2         0       6
1        0            4         0       6
2        0            0         0       6
3        0            1         0       6
4        0           11         4       1
5        0            8         0       2
6        0            9         0       2
7        0           10         0       2
8        0           12         0       2
9        0           13         0       2
10       0           14         0       2
11       0           15         0       2
12       0            3         4       0
13       0            5         2       3
14       0            6         2       3
15       0            7         2       3
16       0           26         1       4
17       0           27         1       4
18       0           28         1       4
19       0           29         1       4
20       0           30         1       4
21       0           31         1       4
22       0           32         1       4
23       0           33         1       4
24       0           34         1       4
25       0           35         1       4
26       0           36         1       4
27       0           37         1       4
28       0           38         1       4
29       0           39         1       4
30       0           40         1       4
31       0           41         1       4
32       0           42         1       4
33       0           43         1       4
34       0           44         1       4
35       0           45         1       4
36       0           46         1       4
37       0           15         3       5
38       0           16         3       5
39       0           17         3       5
40       0           18         3       5
41       0           19         3       5
42       0           20         3       5
43       0           21         3       5
44       0           22         3       5
45       0           23         3       5
46       0           24         3       5
47       0           25         3       5

['AMA', 'CDC', 'LCBA', 'LPU', 'Letran', 'Perps', 'SJC']

In [ ]:
school_data